body {
  background-color: #F3F4EC;
  font-family: 'Open Sans', sans-serif;
}

.accordion {
  
  max-width: 500px;
  margin: 0 auto;
}

.accordion-input {
  display: none;
}

.label-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-label {
  font-size: 1.3em;
  font-weight: 700;
  color: #494949;
}

.label-icon {
  font-size: 2em;
  font-weight: 700;
  transition: transform 0.5s;
}

.accordion-content {
  display: none;
}

.accordion-input:checked ~ .accordion-content{
  display: block;
}

.accordion-input:checked ~ .label-wrap .label-icon {
  transform: rotate(45deg);
}
